/* importing required fonts form google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Lobster&display=swap');


/* adding variable names to the root for later use */
:root {
    --primary-color: #ff5959;
    --secondary-color: #fff4d6;
    --text-black: #121212;
    --text-gray: #828282;
    --bg-gray: #d9d9d9;
    --light-gray: #fafafa;
    --bg-dblue: #0b0d17;
    --bg-lskyblue: #edf5f6;
    --bg-lyellow: #fff4d6;
    --bg-lred: #ffeeee;
    --white: #ffffff;
}

/* reseting margin, padding, box-sizing for all the elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* utility classes */
.mt {
    margin-top: 15px;
}

.mb {
    margin-bottom: 15px;
}

/* setting some initial styles for the html body */
body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
}

/* styles for banner section whose elements are within header tag */
header[role="banner"] {
    height: 669px;
    background-image: url(../Assets/images/donation1.jpg);
    background-position: center;
    background-size: cover;
    color: var(--white);
}

.banner-heading {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.banner-heading .title {
    padding-top: 174px;
    font-size: 65px;
    font-weight: 700;
}

.banner-heading .subtitle {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.donate-btn {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 11px 12px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

/* donate today section styles */
main {
    width: 70%;
    margin: 0 auto;
}
.donate-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

.sec-title {
    font-size: 45px;
    font-weight: 700;
}

.sec-subtitle {
    padding: 20px 0;
    color: var(--text-gray);
    font-size: 18px;
    line-height: 28px;
}

.donate-container > .sec-subtitle {
    padding: 50px 100px;
}

.donate-amount {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.amount-in-tk {
    width: 135px;
    height: 123px;
    background-color: var(--light-gray);
    border-radius: 5px;
    color: #787878;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount-in-tk:nth-child(2) {
    background-color: var(--bg-lred);
    border: 1px solid red;
    color: var(--primary-color);
}

.donate-container > a {
    text-decoration: none;
    color: var(--text-gray);
}

hr {
    margin: 20px auto 30px;
    opacity: 0.09;
}

/* donate plan section styles */
.donate-plans-container {
    margin-block: 130px;
    text-align: center;
}

.donate-plans-container > .sec-subtitle {
    margin-block: 20px;
    padding-left: 350px;
    padding-right: 350px;
}

.list-of-planes {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.list-of-planes > a {
    text-decoration: none;
    color: var(--text-black);
}

.list-of-planes > a > .blog {
    text-align: left;
    padding: 0 23px;
    list-style-type: none;
    width: 450px;
    height: 399px;
    border-radius: 7px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.list-of-planes >a >.blog img {
    position: absolute;
    top: 55px;
    left: 25px;
}

.list-of-planes > a > li.blog0 {
    background-color: var(--bg-lskyblue);
}

.list-of-planes > a > li.blog1 {
    background-color: var(--bg-lred);
}

.list-of-planes > a > li.blog2 {
    background-color: var(--bg-lyellow);
}

.list-of-planes > a > .blog > article > p.about-this-blog {
    padding: 16px 0;
    text-align: left;
    line-height: 24px;
    color: var(--text-gray);
    height: 101px;
}

/* main blog section styles */
.main-blogs {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.main-blogs > .main-subblog {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.main-blogs>.main-subblog article {
    padding-top: 50px;
}

.main-blogs > .main-subblog:last-child {
    flex-direction: row-reverse;
}

.main-blogs>.main-subblog:first-child>figure {
    padding-right: 250px;
}

.main-blogs>.main-subblog:last-child > article > .sec-subtitle, .main-blogs>.main-subblog:last-child>article>.sec-title, .main-subblog:last-child>article>a> .donate-btn {
    margin-left: -250px;
}

.main-blogs > .main-subblog > figure > img {
    width: 520px;
    height: 499px;
    object-fit: cover;
}

.main-blogs>.main-subblog>article {
    width: 456px;
}

.main-blogs>.main-subblog:last-child>article {
    padding-right: 300px;
}

/* get my update sections styles */
.get-my-update {
    margin-block: 133px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get-my-update > form {
    width: 809px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.get-my-update>form>input[type="email"] {
    padding: 11px 0 11px 7px;
    background-color: var(--bg-gray);
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: var(--text-gray);
}

.get-my-update>form>.donate-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
}

.get-my-update>.sec-subtitle {
    margin-block: 33px;
    width: 45%;
    text-align: center;
}


/* footer section styles added */
footer {
    background-color: var(--bg-dblue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

footer h2 {
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}


/* responsive design */
/* for small devices */
@media screen and (max-width: 576px) {
    header[role="banner"] {
        height: 700px;
    }
    .banner-heading {
        width: 80%;
    }
    .banner-heading .title {
        font-size: 55px;
    }
    .donate-container {
        width: 100%;
    }
    .donate-container>.sec-title {
        font-size: 35px;
    }
    .donate-amount {
        gap: 5px;
        flex-wrap: wrap;
    }
    .donate-amount .amount-in-tk {
        width: 100%;
        height: 60px;
        font-size: 1em;
        padding: 3px;
    }
    .donate-container>.sec-subtitle {
        padding: 50px 0px;
    }
    .donate-plans-container .sec-title {
        font-size: 35px;
    }
    .donate-plans-container .sec-subtitle {
        padding: 20px 20px;
        margin-bottom: 100px;
    }
    .list-of-planes {
        flex-direction: column;
    }
    .list-of-planes a .blog {
        width: 100%;
        padding-right: 10px;
    }
    .list-of-planes a .blog .about-this-blog {
        font-size: small;
        margin-bottom: 20px;
    }
    .main-subblog {
        flex-direction: column;
    }
    .main-blogs>.main-subblog:first-child>figure {
        padding-right: 0;
        
    }
    .main-blogs>.main-subblog>figure>img {
        width: 100%;
        height: 278px;
    }
    .main-blogs > .main-subblog:first-child {
        flex-direction: column-reverse;
    }
    .main-blogs>.main-subblog:first-child > article {
        width: 100%;
        padding-top: 0;
    }
    .main-blogs>.main-subblog:first-child > article > .sec-title, .main-blogs>.main-subblog:last-child>article>.sec-title {
        font-size: 32px;
    }
    .main-blogs>.main-subblog:first-child>article>.sec-subtitle, .main-blogs>.main-subblog:last-child>article>.sec-subtitle {
        font-size: 15px;
    }

    .main-blogs > .main-subblog:last-child {
        flex-direction: column;
    }
    .main-blogs>.main-subblog:last-child>article {
        width: 100%;
        padding-top: 0;
        padding-right: 0;
    }
    .main-blogs > .main-subblog:last-child > article > .sec-subtitle, .main-blogs > .main-subblog:last-child > article > .sec-title, .main-subblog:last-child > article > a > .donate-btn {
        margin-left: 0;
    }

    .get-my-update .sec-title {
        font-size: 33px;
        width: 100%;
    }
    .get-my-update .sec-subtitle {
        font-size: 1em;
        width: 100%;
    }
}

/* for extra small devices */
@media screen and (max-width: 382px) {
    .banner-heading .title {
        padding-top: 100px;
        font-size: 45px;
    }

    .get-my-update .sec-title {
        font-size: 16px;
    }

    .get-my-update>.sec-subtitle {
        font-size: 1em;
        width: 100%;
    }

    .get-my-update>.sec-title {
        font-size: 25px;
        text-align: center;
        width: 100%;
    }
}

/* for medium devices */
@media screen and (min-width: 577px) and (max-width: 932px) {
    header[role="banner"] {
        height: 700px;
    }
    
    .banner-heading {
        width: 80%;
    }
    
    .banner-heading .title {
        font-size: 55px;
    }
    .donate-container > .sec-subtitle {
        padding: 50px 0px;
    }
    .donate-amount {
        gap: 5px;
    }
    
    .donate-amount .amount-in-tk {
        width: 235px;
        height: 60px;
        font-size: 1em;
        padding: 3px;
    }
    .donate-plans-container .sec-subtitle {
        padding: 20px 20px;
        margin-bottom: 50px;
    }
    .list-of-planes {
        flex-direction: column;
    }
    
    .list-of-planes a .blog {
        width: 100%;
    }
    .about-this-blog {
        width: 90%;
    }
    .main-subblog {
        flex-direction: column;
    }
    .main-blogs>.main-subblog:first-child>figure {
        padding-right: 0;
    }
    .main-blogs>.main-subblog>figure>img {
        width: 100%;
        height: 278px;
    }
    .main-blogs > .main-subblog:first-child {
        flex-direction: column-reverse;
    }
    .main-blogs>.main-subblog:first-child > article {
        width: 100%;
        padding-top: 0;
    }
    .main-blogs>.main-subblog:first-child > article {
        padding-right: 50px;
    }

    .main-blogs > .main-subblog:last-child {
        flex-direction: column;
    }
    .main-blogs>.main-subblog:last-child>article {
        width: 100%;
        padding-right: 0;
    }
    .main-blogs > .main-subblog:last-child > article > .sec-subtitle, .main-blogs > .main-subblog:last-child > article > .sec-title, .main-subblog:last-child > article > a > .donate-btn {
        margin-left: 0;
    }

}

/* switching from medium to large devices optimizations */
@media screen and (min-width: 1048px) and (max-width: 1400px) {
    .main-blogs>.main-subblog>figure>img {
        height: 655px;
    }
}

/* for larger devices only */
@media screen and (min-width: 933px) and (max-width: 1434px) {
    .donate-amount .amount-in-tk {
        width: 235px;
        height: 90px;
        font-size: 1.3em;
        padding: 3px;
    }
    .donate-plans-container .sec-subtitle {
        padding: 20px 20px;
        margin-bottom: 50px;
    }
    .list-of-planes {
        flex-direction: column;
    }
    
    .list-of-planes a .blog {
        width: 100%;
        padding-right: 15px;
    }
    .about-this-blog {
        width: 90%;
    }
    .donate-amount {
        gap: 5px;
    }
    .main-subblog {
        flex-direction: column;
    }
    .main-blogs>.main-subblog:first-child>figure {
        padding-right: 0;
    }
    .main-blogs>.main-subblog>figure>img {
        width: 100%;
        height: 278px;
    }
    .main-blogs > .main-subblog:first-child {
        flex-direction: column-reverse;
    }
    .main-blogs>.main-subblog:first-child > article {
        width: 100%;
        padding-top: 0;
    }
    .main-blogs>.main-subblog:first-child > article {
        padding-right: 50px;
    }

    .main-blogs > .main-subblog:last-child {
        flex-direction: column;
    }
    .main-blogs>.main-subblog:last-child>article {
        width: 100%;
        padding-right: 0;
    }
    .main-blogs > .main-subblog:last-child > article > .sec-subtitle, .main-blogs > .main-subblog:last-child > article > .sec-title, .main-subblog:last-child > article > a > .donate-btn {
        margin-left: 0;
    }
}

@media screen and (min-width: 1508px) and (max-width: 1714px) {
    .main-blogs>.main-subblog:first-child > article {
        padding-top: 20px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1159px) and (max-width: 1714px) {
    .main-blogs>.main-subblog>figure>img {
            width: 100%;
            height: 478px;
    }
}

@media screen and (min-width: 1436px) and (max-width: 1714px) {
    .main-blogs>.main-subblog:first-child>article {
            padding-top: 20px;
            padding-right: 50px;
    }
    .main-blogs > .main-subblog:last-child > article {
        padding-right: 0;
    }
    .main-blogs > .main-subblog:last-child > article > .sec-subtitle, .main-blogs > .main-subblog:last-child > article > .sec-title, .main-subblog:last-child > article > a > .donate-btn {
        margin-left: 0;
    }
}